.parent {
  perspective: 500px;
  width: 200px;
  height: 200px;
  margin: 100px auto;
}

.child {
  width: 200px;
  height: 200px;
  background-color: blue;
  transform: rotateY(45deg);
  transition: transform 0.5s;
}

.child:hover {
  transform: rotateY(0deg);
}
.giff {
  /* Añade esta clase a tu <img> del logo en el header */
  aspect-ratio: 250 / 75;
  width: 200px; /* Para móvil, basado en tu max-w-[200px] */
  height: 60px; /* Altura calculada: 200 / (250/75) */
  object-fit: contain;
}