/* src/styles.css */

@import "tailwindcss";
:root {
  --brunswick: #124734; /* Tu verde principal */
  --celadon: #aada91;
  --smoke: #c5c5c5;
  --blanco: #ffffff;
  --negro: #000000;
  --transition: all 0.5s ease-in-out;

  --brunswick-darker: #0f3b2c; /* Tu verde para el hover */
}
body {
  line-height: 1.6;
}
.text-obligatorio {
  color: #D28E8E; /* Rojo para campos obligatorios */
}

.text-opcional {
  color: #aada91; /* Verde para campos opcionales */
}
.text-obligatorio {
  color: var(--color-obligatorio); /* Asegúrate de que --color-obligatorio esté definido en :root */
}

.text-opcional {
  color: var(--color-opcional); /* Asegúrate de que --color-opcional esté definido en :root */
}