<header
  class="flex items-center justify-between px-4 py-1 lg:px-10 border-b border-gray-200"
>
  <picture>
    <source srcset="assets/image/LogoPrayserVerde.png" type="image/avif" />
    <source srcset="assets/image/LogoPrayserVerde.png" type="image/webp" />
    <img
      routerlink="/"
      src="assets/image/LogoPrayserVerde.png"
      alt="Logo Prayser"
      width="250"
      height="75"
      class="block h-[75px] w-auto cursor-pointer"
      style="max-width: 250px;" tabindex="0"
      loading="eager"           fetchpriority="high"      />
  </picture>

  <nav class="hidden lg:flex items-center space-x-6">
    <a
      routerLink="/"
      class="text-gray-600 hover:text-[var(--prayser-green)] transition duration-200"
      >Home</a
    >
    <a
      routerLink="/funcionalidades"
      class="text-gray-600 hover:text-[var(--prayser-green)] transition duration-200"
      >Funcionalidades</a
    >
    <a
      routerLink="/presentacion"
      class="text-gray-600 hover:text-[var(--prayser-green)] transition duration-200"
      >Presentacion</a
    >
    <a
      routerLink="/conocenos"
      class="text-gray-600 hover:text-[var(--prayser-green)] transition duration-200"
      >Conocenos</a
    >
    <a
      routerLink="/analisis"
      class="text-gray-600 hover:text-[var(--prayser-green)] transition duration-200"
      >Analisis</a
    >
  </nav>

  <div class="flex items-center space-x-4">
    <a
      href="#"
      class="text-gray-600 hover:text-[var(--prayser-green)] transition duration-200 hidden lg:block"
      >Registrate</a
    >
    <a
      href="#"
      class="bg-[var(--brunswick)] text-white text-center px-8 py-3 rounded-lg text-lg font-semibold hover:bg-[var(--brunswick-darker)] hover:scale-[1.02] active:scale-[.98] transition-all duration-300 shadow-lg focus:outline-none focus:ring-2 focus:ring-[var(--brunswick)] focus:ring-offset-2"
    >
      Iniciar Sesión
    </a>
  </div>

  <button
    class="lg:hidden p-2 text-gray-700 hover:text-[var(--prayser-green)] focus:outline-none focus:ring-2 focus:ring-[var(--prayser-green)] rounded-md"
    aria-label="Abrir menú"
    (click)="toggleMobileMenu()" >
    <svg
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16m-7 6h7"
      ></path>
    </svg>
  </button>
</header>
